# Loops
- Loops are used to repeat a block of code
- Loops are used to iterate over a sequence of items
- Two main types: while loops and for loops
- While loop: executes a block of code as long as a condition is true (condition)
- For loop: executes a block of code for a specific number of times (sequence)
- In programming, we keep on repeating, that is we use loops
 - for example, we keep on repeating the same code for a specific number of times
  - or we keep on repeating the same code as long as a condition is true
  - or we keep on repeating the same code until a certain condition is met
  - or we keep on repeating the same code until a certain condition is no longer met

In [11]:
print('data science')
print('data science')
print('data science')
print('data science')
print('data science')

data science
data science
data science
data science
data science

In [12]:
i = 1          # initializingi = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [13]:
i = 5
while i>=1: # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [14]:
i = 1          # initializing
while i<=5:    # condition
    print('data science:',i)
    i = i + 1  # increment

data science: 1
data science: 2
data science: 3
data science: 4
data science: 5

In [19]:
i = 5          # initializing

while i>=1: # condition
    print('data science:', i)
    i = i - 1  # increment

data science: 5
data science: 4
data science: 3
data science: 2
data science: 1

In [18]:
# nested while loop
i = 1
while i<=5:
      print('data science') # when we mention end then new line will not create
      j=1
      while j<=4:
            print('technology')
            j = j+ 1
      i = i + 1
      print()
# The output is too lengthy; how to make it one line?

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [17]:
i = 1
while i<=5:
    print(' data science', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology

In [5]:
# We can use a while loop usig some numbers
i = 1
while i <= 4 : # 4 is the upper bound
    j = 0 # j = 0
    while  j <= 3 : # 3 is the upper bound
        print(i*j, end=" ") # end = " " is used to print the output in the same line
        j += 1 # j = j + 1
    print() # print a new line after each iteration of the outer loop
    i += 1 #

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [8]:
# Let us use a for loop 
name = 'nit'
for i in name: # i is a variable which is used to iterate through the string
    print(i)

n
i
t

In [9]:
name1 = [1,3.5,'hallo'] #i want print the value individualy
for i in name1:
    print(i)

1
3.5
hallo

In [10]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(10):
      print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(5):
      print(i)

0
1
2
3
4

In [7]:
for i in range(1,21):
      print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [16]:
for i in range(1,10,3): # step is the increment value
    print(i)

1
4
7

In [19]:
for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [20]:
for i in range(1,51): # range(1,51) means from 1 to 50
    
    if i%5==0 : # i%5==0 means i is divisible by 5
        print(i)
    elif i%3==0: # i%3==0 means i is divisible by 3
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [21]:
for i in range(1,41):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39

In [22]:
for i in range(1,51):
    
    if i%5!=0 : # i%5==0
    
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [30]:
# Note the place of print and the place of increment
for i in range(10):
      print(i)
      i+=1
# Note the place of increment and the place of print
for i in  range(10):
        i+=1
        print(i)
# Note the place of increment and the place of print
for i in range(10):
        print(i)
        i+=1

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
# In for loop, there are other functions: break, continue and pass
# break: it will break the loop and stop the execution of the loop
# continue: it will skip the current iteration and continue the loop
# pass: it will do nothing

In [25]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range (1,11):
      if i == 5:
            break # break the law.
      print(i)

1
2
3
4

In [28]:
for i in range (1,11):
      if i == 5:
            break # break the law.
print(i)

5

In [31]:
for i in range(1,11):
    if i == 7:
        break 
    print(i)

1
2
3
4
5
6

In [32]:
for i in range(1,11):
    if i == 6:
        continue 
    print(i)

1
2
3
4
5
7
8
9
10

In [33]:
for i in range(1,11):
    if i == 5:
        continue 
    print('hello ',i)

hello  1
hello  2
hello  3
hello  4
hello  6
hello  7
hello  8
hello  9
hello  10

In [34]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [35]:
for i in range(1,11):
    pass

In [36]:
for i in range(1,51):
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [38]:
for i in range(2,37):
      if i%6==0:
            print(i)
print('end')

6
12
18
24
30
36
end