# Patterns in Python

## Introduction

'Patterns are an essential aspect of programming that can be both fun and challenging to work with. They are not only aesthetically pleasing but also serve as a valuable tool in enhancing your problem-solving skills and understanding of programming concepts. Python, being a versatile and popular programming language, provides various ways to create intricate patterns effortlessly. In this article, we will explore some of the most important pattern programs in Python, each designed to help you improve your coding skills.'

## Why Learn Pattern Programming?

'Before we dive into the patterns themselves, let’s briefly discuss why learning pattern programming is valuable:

    Problem-Solving Skills: Patterns often require a logical approach to problem-solving, teaching you how to break down complex problems into simpler, more manageable steps.
    Algorithmic Thinking: Working with patterns helps you develop algorithmic thinking, a crucial skill for solving real-world problems in programming and beyond.
    Coding Aesthetics: Patterns add a creative touch to your code, making it more visually appealing and easier to understand for you and others.
    Interview Preparation: Many technical interviews for programming positions include pattern-related questions to assess candidates’ problem-solving abilities.
    Building Confidence: Successfully creating patterns can boost your confidence in your coding skills.'

## Sources

https://pyseek.com/2022/02/learn-25-important-pattern-programs-in-python/

https://codewithcurious.com/blogs/50-python-pattern-programs/

https://pynative.com/print-pattern-python-examples/#h-steps-to-print-pattern-in-python

https://www.geeksforgeeks.org/programs-printing-pyramid-patterns-python/

## Examples

In [1]:
# # Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")
        
        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
        print()
   
full_pyramid(5)

    *
   ***
  *****
 *******
*********

In [2]:
# Example 1: Full Pyramid Patterns in Python Recursion
def print_space(space):
    if space > 0:
        print(" ", end="")
        print_space(space - 1)

def print_star(star):
    if star > 0:
        print("*", end="")
        print_star(star - 1)

def print_pyramid(n, current_row=1):
    if current_row > n:
        return

    spaces = n - current_row
    stars = 2 * current_row - 1

    # Print spaces
    print_space(spaces)

    # Print stars
    print_star(stars)

    # Move to the next line for the next row
    print()

    # Print the pyramid for the next row
    print_pyramid(n, current_row + 1)

# Set the number of rows for the pyramid
n = 5

# Print the pyramid pattern
print_pyramid(n)

    *
   ***
  *****
 *******
*********

In [3]:
# Example 2: Pyramid Patterns in Python with Alphabet
n = 5
alph = 65
for i in range(0, n):
    print(" " * (n-i), end=" ")
    for j in range(0, i+1):
        print(chr(alph), end=" ")
        alph += 1
    alph = 65
    print()

      A
     A B
    A B C
   A B C D
  A B C D E

## 1. Right Angle Triangle Pattern

In [4]:
# https://codewithcurious.com/blogs/50-python-pattern-programs/
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

## 2. Inverted Right Angle Triangle Pattern

In [5]:
for i in range(5, 0, -1):
      print('*' * i)

*****
****
***
**
*

## 3. Pyramid Pattern

In [6]:
for i in range(1, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

## 4. Inverted Pyramid Pattern

In [7]:
for i in range(5, 0, -1):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *

## 5. Diamond Pattern

In [8]:
for i in range(1, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))
for i in range(4, 0, -1):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## 6. Hollow Square Pattern

In [9]:
for i in range(5):
    for j in range(5):
        if i == 0 or i == 4 or j == 0 or j == 4:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
*   *
*   *
*   *
*****

## 7. Full Square Pattern

In [10]:
for i in range(5):
    print('*' * 5)

*****
*****
*****
*****
*****

## 8. Right Angle Triangle (Number Pattern)

In [11]:
for i in range(1, 6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 9. Inverted Right Angle Triangle (Number Pattern)

In [12]:


for i in range(5, 0, -1):
    print(' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 10. Floyd's Triangle

In [13]:


num = 1
for i in range(1, 6):
    for j in range(1, i + 1):
        print(num, end=' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 11. Hollow Right Angle Triangle

In [14]:

for i in range(1, 6):
    for j in range(1, i + 1):
        if j == 1 or j == i or i == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
**
* *
*  *
*****

## 12. Hollow Pyramid Pattern

In [15]:


for i in range(1, 6):
    for j in range(5 - i):
        print(' ', end='')
    for j in range(2 * i - 1):
        if j == 0 or j == 2 * i - 2 or i == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

    *
   * *
  *   *
 *     *
*********

## 13. Hollow Diamond Pattern

In [16]:


n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' + ' ' * (2 * i - 3) + ('*' if i > 1 else ''))
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' + ' ' * (2 * i - 3) + ('*' if i > 1 else ''))

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

## 14. Hollow Diamond (Number Pattern)

In [17]:


n = 5
for i in range(1, n + 1):
    for j in range(1, n - i + 1):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print(i, end='')
        else:
            print(' ', end='')
    print()

    1
   2 2
  3   3
 4     4
5       5

## 15. Butterfly Pattern

In [18]:


for i in range(1, 6):
    for j in range(1, i + 1):
        print('*', end='')
    for j in range(1, 2 * (5 - i)): 
        print(' ', end='')
    for j in range(1, i + 1):
        print('*', end='')
    print()

*       *
**     **
***   ***
**** ****
**********

## 16. Hollow Number Pyramid

In [19]:


for i in range(1, 6):
    for j in range(1, 6 - i):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print(i, end='')
        else:
            print(' ', end='')
    print()

    1
   2 2
  3   3
 4     4
5       5

## 17. Full Star Pyramid

In [20]:


for i in range(1, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

## 18. Inverted Full Star Pyramid

In [21]:


for i in range(5, 0, -1):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *

## 19. Left Aligned Pyramid Pattern

In [22]:


for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

## 20. Right Aligned Pyramid Pattern

In [23]:


for i in range(1, 6):
    print(' ' * (5 - i) + '*' * i)

    *
   **
  ***
 ****
*****

## 21. Pascal's Triangle

In [24]:

import math
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for j in range(i + 1):
        print(str(math.comb(i, j)) + ' ', end='')
    print()

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

## 22. Zig-Zag Pattern

In [25]:


for i in range(1, 6):
    if i % 2 == 0:
        print(' ' * (i - 1) + '*')
    else:
        print('*' * i)

*
 *
***
   *
*****

## 23. Hourglass Pattern

In [26]:


for i in range(5, 0, -1):
    print(' ' * (5 - i) + '*' * (2 * i - 1))
for i in range(2, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

## 24. Diamond Shape with Numbers

In [27]:


for i in range(1, 6):
    print(' ' * (5 - i) + str(i) * (2 * i - 1))
for i in range(4, 0, -1):
    print(' ' * (5 - i) + str(i) * (2 * i - 1))

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

## 25. Hollow Rhombus Pattern

In [28]:


for i in range(1, 6):
    for j in range(1, 6):
        if i == 1 or i == 5 or j == 1 or j == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*****
*   *
*   *
*   *
*****

## 26. Numeric Pyramid

In [29]:


for i in range(1, 6):
    print(' ' * (5 - i) + ' '.join(str(x) for x in range(1, i + 1)))

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

## 27. Hollow Diamond with Numbers

In [30]:


for i in range(1, 6):
    for j in range(1, 6 - i):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print(i, end='')
        else:
            print(' ', end='')
    print()
for i in range(4, 0, -1):
    for j in range(1, 6 - i):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print(i, end='')
        else:
            print(' ', end='')
    print()

    1
   2 2
  3   3
 4     4
5       5
 4     4
  3   3
   2 2
    1

## 28. Reverse Pyramid with Numbers

In [31]:


for i in range(5, 0, -1):
    print(' ' * (5 - i) + ' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

## 29. Diamond Star Pattern

In [32]:


for i in range(1, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))
for i in range(4, 0, -1):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## 30. Full Number Pyramid

In [33]:


for i in range(1, 6):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))

    1
   12
  123
 1234
12345

## 31. Checkerboard Pattern

In [34]:


for i in range(5):
    for j in range(5):
        if (i + j) % 2 == 0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

* * *
 * *
* * *
 * *
* * *

## 32. Hollow Circle Pattern

In [35]:


for i in range(1, 6):
    for j in range(1, 6):
        if math.dist([i, j], [3, 3]) <= 2:
            print('*', end='')
        else:
            print(' ', end='')
    print()

  *
 ***
*****
 ***
  *

## 33. Triangle of Numbers

In [36]:


for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345

## 34. Rhombus of Numbers

In [37]:


for i in range(1, 6):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))
for i in range(4, 0, -1):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))

    1
   12
  123
 1234
12345
 1234
  123
   12
    1

## 341. Rhombus of Numbers

In [38]:


for i in range(1, 6):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))

    1
   12
  123
 1234
12345

## 342. Rhombus of Numbers

In [39]:


for i in range(4, 0, -1):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))

 1234
  123
   12
    1

## 35. Number Pattern (Decreasing)

In [40]:


for i in range(5, 0, -1):
    print(' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 36. Hollow Inverted Pyramid

In [41]:

for i in range(5, 0, -1):
    for j in range(1, 2 * i - 1):
        if j == 1 or j == 2 * i - 2 or i == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

********
*    *
*  *
**

## 37. Cross Pattern

In [42]:


for i in range(5):
    for j in range(5):
        if i == j or i + j == 4:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*   *
 * *
  *
 * *
*   *

## 38. Number Inverted Pyramid

In [43]:

for i in range(5, 0, -1):
      print(' '.join(str(x) for x in range(1, i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 39. Right Angle Star Triangle

In [44]:


for i in range(1, 6):
    print(' ' * (5 - i) + '*' * i)

    *
   **
  ***
 ****
*****

## 40. Left Angle Number Triangle

In [45]:


for i in range(1, 6):
    print(' '.join(str(x) for x in range(1, i + 1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## 41. Star Hollow Triangle

In [46]:


for i in range(1, 6):
    for j in range(1, 6):
        if j == 1 or j == i or i == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
**
* *
*  *
*****

## 42. Upside Down Right Triangle

In [47]:


for i in range(5, 0, -1):
    print(' ' * (5 - i) + '*' * i)

*****
 ****
  ***
   **
    *

## 43. Parallelogram Star Pattern

In [48]:


for i in range(5):
    print(' ' * i + '*' * 5)

*****
 *****
  *****
   *****
    *****

## 44. Inverted Parallelogram Pattern

In [49]:


for i in range(5):
    print(' ' * (5 - i) + '*' * 5)

     *****
    *****
   *****
  *****
 *****

## 45. Reverse Hollow Diamond

In [50]:


for i in range(5, 0, -1):
    print(' ' * (5 - i) + '*' + ' ' * (2 * i - 3) + ('*' if i > 1 else ''))
for i in range(4, 0, -1):
    print(' ' * (5 - i) + '*' + ' ' * (2 * i - 3) + ('*' if i > 1 else ''))

*       *
 *     *
  *   *
   * *
    *
 *     *
  *   *
   * *
    *

## 46. Inverted Hollow Pyramid with Stars

In [51]:


for i in range(5, 0, -1):
    for j in range(1, 2 * i - 1):
        if j == 1 or j == 2 * i - 2 or i == 5:
            print('*', end='')
        else:
            print(' ', end='')
    print()

********
*    *
*  *
**

## 47. Full Hollow Diamond

In [52]:


for i in range(1, 6):
    for j in range(1, 6 - i):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()
for i in range(4, 0, -1):
    for j in range(1, 6 - i):
        print(' ', end='')
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

## 48. Rectangle of Numbers

In [53]:


for i in range(5):
    for j in range(1, 6):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## 49. Reverse Star Pattern

In [54]:


for i in range(5, 0, -1):
    print('*' * i)

*****
****
***
**
*

## 50. Pyramid of Numbers

In [55]:


for i in range(1, 6):
    print(' ' * (5 - i) + ''.join(str(x) for x in range(1, i + 1)))

    1
   12
  123
 1234
12345